<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock title %}</title>
    <link
      href="{{ url_for('static',filename = 'css/style.css')}}"
      rel="stylesheet"
    />

    {% block header_links %}
    {% endblock header_links %}
</head>
<body>
    {% block content %}
    {% endblock content %}


    <script src="{{ url_for('static', filename = 'js/scripts.js')}}"></script>
    {% block custom_scripts %}
    {% endblock custom_scripts %}
</body>
</html>